div {
    background-color: lightblue;
    width: 300px;
    height: 300px;

    max-width: 400px;
    min-width: 300px;

    max-height: 400px;
    min-height: 300px;

    /* PADDING */
   padding-top: 20px;
   padding-left: 30px;
   padding-right: 50px;
   padding-bottom: 20px;

   padding: 60px; /*APLICA A LOS 4 LADOS DEL PADDING*/
   padding: 80px 60px 20px 35px; /* TOP RIGHT BOTTOM LEFT */

   /* BORDER */
   border-top-width: 10px;
   border-left-width: 20px;
   border-right-width: 30px;
   border-bottom-width: 20px;

   border-color: brown;
   border-style: dashed;
   border:15px double green;
   border-radius: 30%;

   /* MARGIN */
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 500px;

    margin: 50px; /* APLICA A LOS 4 LADOS DEL MARGIN */
    margin: 50px 90px 20px 35px;
}

