header {
    width: 100%;
    height: 100%;

    position:fixed;
    top:0;
    left:0;

    background-color: #3b3c3b;

}

nav {
    width: 100%;
    height: 50px;
    background-color: #e10f0f;
    position:fixed;
    top:100px;
    left:0;

}

article {
    background-color: beige;
    position: fixed;

    top: 150px;
    left: 0;

    width: 80%;
    height: 100%;

}

aside {
    background-color: #3b3c3b;
    position: fixed;
    top: 150px;
    right: 0;   
    width: 20%;
    height: 100%;

}

footer {
    background: red;
    position: fixed;

    left:0;
    bottom:0;
    width: 100%;
    height: 50px;

}